<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compattible" content="ie=edge">
  <title>Виды животных</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dynamicdata">Что то динамичное <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts">О нас</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Вымирающие виды животных</h1>
              <h3>Андрей Малышев</h3>
              <a href="https://vk.com/id164222893"><img src="https://avatars2.githubusercontent.com/u/1478241?s=280&v=4" alt="иконка VK" width="40" height="40"></a>
              <h3>Максим Майко</h3>
              <a href="https://vk.com/ibearchic"><img src="https://avatars2.githubusercontent.com/u/1478241?s=280&v=4" alt="иконка VK" width="40" height="40"></a>
            </div>
          </section>
    <div class="container-fluid">
        <hr> &copy; Mайко&&Малышев corporation
    </div>
    </body>
    </html>
