<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compattible" content="ie=edge">
  <title>Виды животных</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Главная</strong>
          </a>
        </div>
      </div>
      <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Вымирающие виды животных</h1>
              <h3>Андрей Малышев</h3>
              <a href="https://vk.com/id164222893"><img src="https://avatars2.githubusercontent.com/u/1478241?s=280&v=4" alt="иконка VK" width="40" height="40"></a>
              <h3>Максим Майко</h3>
              <a href="https://vk.com/ibearchic"><img src="https://avatars2.githubusercontent.com/u/1478241?s=280&v=4" alt="иконка VK" width="40" height="40"></a>
            </div>
          </section>
    <div class="container-fluid">
        <hr> &copy; Mайко&&Малышев corporation
    </div>
    </body>
    </html>
